<div class="compact-challenge-dice compact-challenge-dice__row">
  <div class="compact-challenge-dice__col-1">Challenge Dice:</div>
  <div class="compact-challenge-dice__col-2 compact-challenge-dice__row compact-row_gap">
    <div class="compact-challenge-dice__sub-col-1">{{ getChallengeDie dice 1}}</div>
    <div class="compact-challenge-dice__sub-col-2">{{ getChallengeDie dice 2}}</div>
  </div>
</div>