<div class="compact-roll-outcome">
    <div class="compact-roll-outcome__row">
        <div class="compact-roll-outcome__col-1 compact-roll-outcome__{{outcome}} compact-roll-outcome__box"></div>
        <div class="compact-roll-outcome__col-2">{{outcome}}</div>
    </div>
</div>