{{#> wrapper type="task" keyValues=keyValues }}
  {{#> characterRollHeader characterName=characterName title=title}}
  {{/ characterRollHeader}}

  <div class="stat__body">
    <div>Progress:</div><div>{{progress}}</div>
    {{> challengeDice dice=dice}}
  </div>

  <div class="stat__footer">
    {{> rollOutcome outcome=(calculateOutcome progress dice) score=progress}}
  </div>
{{/ wrapper }}