{{!-- TODO: Support momentum burning --}}
{{#> wrapper type="stat"}}
  {{#> compactCharacterRollHeader characterName=characterName title=title}}
  {{/ compactCharacterRollHeader}}

  <div class="compact-stat__body">
    {{> compactActionScore actionDieNegated=dice.actionDie.negated score=score}}
    {{> compactChallengeDice challengeDie1=dice.challengeDie1 challengeDie2=dice.challengeDie2}}
  </div>
  {{> compactMomentumBurned burnedMomentum=burnedMomentum}}
  <div class="compact-stat__footer">
    {{> compactRollOutcome outcome=outcome}}
  </div>
{{/ wrapper }}