{{!-- TODO: Support momentum burning --}}
{{#> wrapper type="stat"}}
  {{#> header_character_roll name_character=name_character title=title}}
  {{/ header_character_roll}}

  <div class="stat__body">
    {{> action_score action_score=score}}
    {{> challenge_dice dice=dice}}
  </div>

  <div class="stat__footer">
    {{> roll_outcome outcome=outcome}}
  </div>
{{/ wrapper }}