<div class="action-score">
    {{#if actionScore.dieNegated}}
        <div class="action-score__row">
            <div class="action-score__warning">Action Die Negated</div>
        </div>
    {{/if}}
    <div class="action-score__row">
        <div class="action-score__col-1 action-score__title">Action Score</div>
        <div class="action-score__col-2">
            <div class="action-score__image">{{> actionScoreBg actionScore=actionScore.score}}</div>
        </div>
    </div>
</div>