<div class="challenge-dice challenge-dice__row">
  <div class="challenge-dice__col-1">Challenge Dice:</div>
  <div class="challenge-dice__col-2 challenge-dice__row">
    <div class="challenge-dice__sub-col-1">{{> challengeDieBg challengeDie=(getChallengeDie dice 1)}}</div>
    <div class="challenge-dice__sub-col-2">{{> challengeDieBg challengeDie=(getChallengeDie dice 2)}}</div>
  </div>
</div>