<div class="roll-outcome">
    <div class="roll-outcome__{{outcome}} roll-outcome__row">
        <div class="roll-outcome__col-1">{{outcome}}</div>
        {{#if (or (isMatching outcome 'opportunity') (isMatching outcome 'strong-hit'))}}
            <div class="roll-outcome__col-2">
                {{> successBg}}
            </div>
            <div class="roll-outcome__col-3">
                {{> successBg}}
            </div>
        {{/if}}
        {{#if (isMatching outcome 'weak-hit')}}
            <div class="roll-outcome__col-2">
                {{#if (isGreaterOrEqual (getChallengeDie dice 1) score)}}
                    {{> failBg}}
                {{else}}
                    {{> successBg}}
                {{/if}}
            </div>
            <div class="roll-outcome__col-3">
                {{#if (isGreaterOrEqual (getChallengeDie dice 2) score)}}
                    {{> failBg}}
                {{else}}
                    {{> successBg}}
                {{/if}}
            </div>
        {{/if}}
        {{#if (or (isMatching outcome 'miss') (isMatching outcome 'complication'))}}
            <div class="roll-outcome__col-2">
                {{> failBg}}
            </div>
            <div class="roll-outcome__col-3">
                {{> failBg}}
            </div>
        {{/if}}
    </div>
</div>