<div class="compact-action-score">
    {{#if action_die_negated}}
        <div class="compact-action-score__row">
            <div class="compact-action-score__warning">Action Die Negated</div>
        </div>
    {{/if}}
    <div class="compact-action-score__row">
        <div class="compact-action-score__col-1 compact-action-score__title">Action Score</div>
        <div class="compact-action-score__col-2">
            <div class="compact-action-score__value">{{ score }}</div>
        </div>
    </div>
</div>