<div class="compact-challenge-dice compact-challenge-dice__row">
  <div class="compact-challenge-dice__col-1">Challenge Dice:</div>
  <div class="compact-challenge-dice__col-2 compact-challenge-dice__row compact-row_gap">
    <div class="compact-challenge-dice__sub-col-1">{{ challenge_die_1 }}</div>
    <div class="compact-challenge-dice__sub-col-2">{{ challenge_die_2 }}</div>
  </div>
</div>