{{!-- TODO: Support momentum burning --}}
{{#> wrapper type="stat"}}
  {{#> characterRollHeader characterName=characterName title=title}}
  {{/ characterRollHeader}}

  <div class="stat__body">
    {{> actionScore actionScore=score}}
    {{> challengeDice dice=dice}}
  </div>

  <div class="stat__footer">
    {{> rollOutcome outcome=outcome}}
  </div>
{{/ wrapper }}